.main-navigation {
  font-size: .75em;
  padding: 0;
  list-style: none;
  margin: 1em 0 0 0;
  @media only screen and (min-width: 767px) {
    margin: 2em 0;
  }
  li {
    display: inline-block;
    margin-right: 1.5em;
    @media only screen and (min-width: 767px) {
      display: block;
      margin: 0;
    }
  }
  a {
    color: white;
    display: block;
    margin: .75em 0;
    text-decoration: none;
  }

}

#search {
  display: none;
  @media only screen and (min-width: 767px) {
    display: block;
  }
}
